.c-header
    a.c-header__link.c-text-s(
        href="#/collections",
    ) PRODUCTS

    a.c-header__link.c-text-s(
        href="#/orders",
    ) ORDERS

    a.c-header__link.c-text-s(
        href="#/settings",
    ) SETTINGS