.c-products

    .c-products__title-row
        a.c-products__title-row__back-link.c-text-m(
            href="#/collections",
    )
            svg.c-icon.c-products__title-row__back-link__icon
                use(
                    [svgHref]="'#arrow-line-icon'",
                )    
            span All Collections


        h2.c-title-m.c-products__title-row__title Collection
    
    .c-products__filter-row
        multi-filter-component.c-products__filter-row__multi-filter(
            [possibleFilters]="['FILTER 1', '2 FILTERS', 'FILTERS OTHER']",
            [noneAppliedText]="'ALL PRODUCTS'",
        )

        dropdown-select-box-component.c-products__filter-row__dropdown-select-box(
            [options]="{ enabled: 'ENABLED', disabled: 'DISABLED' }",
            [value]="'enabled'",
        )

    .c-products__card(
        *ngFor="let product of collection.products"
    )
        .c-products__card__image(
            [style.backgroundImage]="'url(https://s3.amazonaws.com/kiteshopify/81dcb7c5-ba9c-42e9-be4d-08e946bdd0e9_preview.jpeg)'",
        )
        .c-products__card__title.c-text-l {{ collection.title }} {{ product.title }}

        .c-products__card__product-details
            .o-layout.c-products__card__product-details__row
                .o-layout__item.u-1-2.c-text-s Brand
                .o-layout__item.u-1-2.c-text-s Kite.ly
            .o-layout.c-products__card__product-details__row
                .o-layout__item.u-1-2.c-text-s Product Code
                .o-layout__item.u-1-2.c-text-s 1234
            .o-layout.c-products__card__product-details__row
                .o-layout__item.u-1-2.c-text-s Wholesale Price
                .o-layout__item.u-1-2.c-text-s £9.00

        button.c-btn.c-btn--outline PRICES & EDIT
        span.c-text-s Disabled
        toggle-component(
            [isOn]="false",
            (onToggle)="togglePublishState($event, collection)",
        )


